<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <div id="overlay">
            <nav>
                <div id="logo">RATED R</div>
                <span id="hemberger">
                    <i class="ri-menu-2-line">

                    </i>
                </span>
                <div id="links">
                    <a class="link" href="index.html">HOME</a>
                    <a class="link" href="about.html">ABOUT</a>
                    <a class="link" href="gallery.html">GALLERY</a>
                    <a class="link" href="contact.html">CONTACT</a>
                </div>
            </nav>
            <div id="contact">
                <div id="contactOverlay">
                    <div class="end">
                        Thanks! You have successfully booked the tickets.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>